body > :nth-child(odd){
    background-color: pink;
    font-family: Verdana, 'DejaVu Sans', 'sans-serif' ;
}

#secondElement {
    font-size: 35px;
    color: blue;
}

.thirdElement {
    font-size: 24px;
}

#fourthElement {
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold;
}