nav { 
  height: 100%;
  background-color: sandybrown;
  
  ul { 
    display: flex;
    gap: 10px;
    list-style-type: none;
  }
  
  a {
    padding: 8px;
    
  }
  
  .active { 
    background-color: black;
    color: ghostwhite;
  }
}